<!DOCTYPE html>
<html lang="@Localizer["en"].Value">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
    <meta name=description content="@Localizer["IT Consulting Services - Epic Solutions"].Value" />
    <title>@ViewData["Title"] - EpicSolutions</title>
    <meta name="author" content="Guillermo Antonio Rodríguez Piccoli and Elisbeth Antonela Prieto Heredia" />
    <open-graph-website site-name="Epic Solutions"
                        title=@ViewData["Title"]
                        main-image="@(new OpenGraphImage(
        new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/android-chrome-512x512.png"),
        "image/png",
        1200,
        630))"
                        determiner="@OpenGraphDeterminer.Blank" />
    <script type="application/ld+json">
        @{
            var website = new WebSite()
            {
                AlternateName = "Epic Solutions",
                Name = (string)ViewData["Title"],
                Url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")
            };
            var jsonLd = website.ToString();
        }
        @Html.Raw(jsonLd)
    </script>
    @Html.Raw(new TwitterCardSummaryLargeImage
{
    Title = "Epic Solutions",
    Description = "Soluciones tecnológicas para empresas",
    CreatorUsername = "@anelis_1016",
    SiteUsername = "@anelis_1016"
})
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        (function (e, t, n, i, s, a, c) { e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
            ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s; c.parentNode.insertBefore(a, c)
        })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
        galite('create', 'UA-46146363-7', 'auto');
        galite('send', 'pageview');
    </script>
    <partial name="_Favicons" />

    <link rel="dns-prefetch" href="https://www.google.com">
    <link rel="preconnect" href="https://www.google.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.cl">
    <link rel="preconnect" href="https://www.google.cl" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.co.nz">
    <link rel="preconnect" href="https://www.google.co.nz" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://stats.g.doubleclick.net" crossorigin="anonymous">

    <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" as="fetch" crossorigin="anonymous">
    <script type="text/javascript">
        !function (e, n, t) { "use strict"; var o = "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", r = "__3perf_googleFonts_d78c3"; function c(e) { (n.head || n.body).appendChild(e) } function a() { var e = n.createElement("link"); e.href = o, e.rel = "stylesheet", c(e) } function f(e) { if (!n.getElementById(r)) { var t = n.createElement("style"); t.id = r, c(t) } n.getElementById(r).innerHTML = e } e.FontFace && e.FontFace.prototype.hasOwnProperty("display") ? (t[r] && f(t[r]), fetch(o).then(function (e) { return e.text() }).then(function (e) { return e.replace(/@@font-face {/g, "@@font-face{font-display:swap;") }).then(function (e) { return t[r] = e }).then(f).catch(a)) : a() }(window, document, localStorage);
    </script>
    <!-- End of code snippet for Google Fonts -->
    <partial name="_Libs" model='(new HashSet<string>
             {
    "jquery",
    "aos", "bootstrap", "@fortawesome/fontawesome-free",
    "jquery-countto","jquery.easing", "main",
    "stellar.js", "waypoints", "modernizr-custom",
    "style"
             }, "TOP")' />
    @this.WriteBlocks("TOPStyles")
    @this.WriteBlocks("Styles")
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/@Localizer["en_GB"]/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
            console.log(fjs, js);
        //document.querySelector('[data-testid="bubble_iframe"]').setAttribute('title', 'bubble iframe');
        //document.querySelector('[data-testid="unread_iframe"]').setAttribute('title', 'unread iframe');
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="605999509841044"
         theme_color="#67b868"
         logged_in_greeting="@Localizer["Hi! How can we assist you?"]"
         logged_out_greeting="@Localizer["Thank you for chatting with us"]"
         greeting_dialog_display="fade"
         greeting_dialog_delay="4">
    </div>
    <div class="gtco-loader"></div>
    <div id="page">
        <div class="page-inner">
            <div id="head-top" style="position: absolute; width: 100%; top: 0;">
                <div class="gtco-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div id="gtco-logo">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">
                                        <img alt="epic solutions logo" src="~/images/epic_light_hor.svg" style="width:150px" asp-append-version="true" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 social-icons">
                                <ul class="gtco-social-top">
                                    <li>
                                        <a href="https://www.facebook.com/epicsolutions.cl/" aria-label="facebook" target="_blank" rel="noopener">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/epicsolutionscl/" aria-label="linkedin" target="_blank" rel="noopener">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/guillermo-rodriguez-piccoli/" aria-label="Guillermo LinkedIn" target="_blank" rel="noopener">
                                            <picture>
                                                <source srcset="~/images/GARP.webp" type="image/webp" asp-append-version="true" />
                                                <img src="~/images/GARP.jpg" alt="Guillermo Rodríguez Piccoli" class="pinimg" asp-append-version="true" />
                                            </picture>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/e-antonela-prieto-91130681/" aria-label="Elisbeth Antonela LinkedIn" target="_blank" rel="noopener">
                                            <picture>
                                                <source srcset="~/images/EAPH.webp" type="image/webp" asp-append-version="true" />
                                                <img src="~/images/EAPH.jpg" alt="Elisbeth Antonela Prieto" class="pinimg" asp-append-version="true" />
                                            </picture>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="gtco-nav sticky-banner" role="navigation">
                    <div class="gtco-container">
                        <div class="row justify-content-md-center">
                            <div class="col-xs-12 text-center menu-1">
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Services">@Localizer["Services"]</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Portafolio">@Localizer["Portfolio"]</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Partners">@Localizer["Partners"]</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="gtco-container">
                    <div class="row" style="margin-top:3em;">
                        <div class="col-md-12 mt-text text-center" data-aos="fade-up">
                            <img src="~/images/epic_lighter.svg" alt="epic solutions logo" style="width:200px;" asp-append-version="true" />
                            <h1>@Html.Raw(ViewData["titulo"])</h1>
                            <h2>@ViewData["subtitulo"]</h2>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                @RenderBody()
            </main>
            <footer id="gtco-footer" role="contentinfo">
                <div class="gtco-container">
                    <div class="row row-p	b-md">
                        <div class="col-md-4">
                            <div class="gtco-widget">
                                <h3>@Localizer["About us"]</h3>
                                <p>@Localizer["Our company develops computing and digital marketing solutions tailored to your needs to take your company to the next level."]</p>
                                <p><a asp-area="" asp-controller="Home" asp-action="About">@Localizer["Learn more ..."]</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-push-1">
                            <div class="gtco-widget">
                                <h3><a asp-area="" asp-controller="Home" asp-action="Services">@Localizer["Services"]</a></h3>
                                <ul class="gtco-footer-links">
                                    <li>@Localizer["Search Engine Optimization and Digital Presence"]</li>
                                    <li>@Localizer["Web Application Development"]</li>
                                    <li>@Localizer["Databases"]</li>
                                    <li>@Localizer["Platform integration"]</li>
                                    <li>@Localizer["RESTful API and microservices"]</</li>
                                    <li>@Localizer["Search Engine Marketing and microsegmentation"]</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-push-1">
                            <div class="gtco-widget">
                                <h3>@Localizer["Contact us"]</h3>
                                <ul class="gtco-quick-contact">
                                    @*<li><a href="tel:+56952550410"><i class="fas fa-phone"></i> +56 9 5255 0410</a></li>*@
                                    <li><a href="mailto:contacto@epicsolutions.cl"><i class="fas fa-envelope"></i> @Localizer["contact@epicsolutions.cl"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            <p class="float-left">
                                <small class="block">&copy; 2019 @Localizer["Piccoli Co Ltd. All Rights Reserved."]</small>
                                <small class="block"><img class="" src="~/images/epic_light_hor.svg" alt="epic solutions logo" style="width:150px" asp-append-version="true" /></small>
                            </p>
                            <p class="float-right">
                                <ul class="gtco-social-icons float-right">
                                    <li>
                                        <a href="https://www.facebook.com/epicsolutions.cl/" aria-label="facebook" target="_blank" rel="noopener">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/epicsolutionscl/" aria-label="LinkedIn" target="_blank" rel="noopener">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/guillermo-rodriguez-piccoli/" aria-label="Guillermo LinkedIn" target="_blank" rel="noopener">
                                            <picture>
                                                <source srcset="~/images/GARP.webp" type="image/webp" asp-append-version="true" />
                                                <img src="~/images/GARP.jpg" alt="Guillermo Rodríguez Piccoli" class="pinimg" asp-append-version="true" />
                                            </picture>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/e-antonela-prieto-91130681/" aria-label="Elisbeth Antonela LinkedIn" target="_blank" rel="noopener">
                                            <picture>
                                                <source srcset="~/images/EAPH.webp" type="image/webp" asp-append-version="true" />
                                                <img src="~/images/EAPH.jpg" alt="Elisbeth Antonela Prieto" class="pinimg" asp-append-version="true" />
                                            </picture>
                                        </a>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fas fa-arrow-up"></i></a>
    </div>
    @this.WriteBlocks("TOPScripts")
    @this.WriteBlocks("Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
