@{
    ViewData["Title"] = "Epic Solutions";
    ViewData["titulo"] = Localizer["Taking your company <strong>to the next level</strong>"].Value;
    ViewData["subtitulo"] = Localizer["Tailored technological solutions."].Value;
}

<input style="display:none" id="sep" value="@Localizer[","]"/>

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Multidisciplinary team"]</h2>
                    <p>@Localizer["Our multidisciplinary team is the foundation of our innovative capabilities"]</p>
                    <p>@Localizer["We are constantly training to bring you scalable and modular solutions"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>@Localizer["Software analists"]</li>
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>@Localizer["Software developers"]</li>
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>@Localizer["Business management"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>Community<br /> Manager</li>
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>@Localizer["Project<br /> Evaluation"]</li>
                        <li><span style="color:#66D37E;margin-right:10px;"><i class="fas fa-check"></i></span>@Localizer["Bioinformatics"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url('/images/code.720.jpg'); background-image: -webkit-image-set(url('/images/code.720.webp') 1x);"></div>
</div>

<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/desk.1350.jpg'); background-image: -webkit-image-set(url('/images/desk.1350.webp') 1x);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1 data-aos="fade-up">@Localizer["Continuous development and training"]</h1>
            </div>
        </div>
    </div>
</div>
<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Our Mision"]</h2>
                    <p>@Localizer["Commiting to the sustainable improvement of our clients through continuous development"]</p>
                    <p>@Localizer["Through collaboration with our partners and clients aiming to bring long term quality solutions tailored to their needs"]</p>
                    <p>@Localizer["Our pillars are communication, constant training and transparency"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Sustainability"]</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Quality of Service"]</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Continuity"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Cooperation"]</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Development"]</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>@Localizer["Communication"]</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" 
         style="background-image: url('/images/apis.1350.jpg'); background-image: -webkit-image-set(url('/images/apis.1350.webp') 1x);"></div>
</div>
<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/team.1350.jpg'); background-image: -webkit-image-set(url('/images/team.1350.webp') 1x);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1 data-aos="fade-up">@Localizer["Quality over quantity"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="overflow-hid">
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>@Localizer["Services"]</h2>
                    <p>
                        @Localizer["Taking your company <strong>to the next level</strong>"]
                    <br />
                    @Localizer["Tailored technological solutions."]
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#" class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/seo.670.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/seo.670.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Search Engine Optimization and Digital Presence"]</h2>
                        <p>@Localizer["Search Engine Optimization and Search Engine Marketing"]</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#" class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/webdesign.640.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/webdesign.640.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Web Application Development"]</h2>
                        <p>@Localizer["We design your website to fit your needs and goals"]</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/data.670.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/data.670.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Database"]</h2>
                        <p>@Localizer["Data warehouse design, data access and data processing"]</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/desk2.750.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/desk2.750.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Platform integration"]</h2>
                        <p>@Localizer["GUI design for integrating data sources and APIs into one resource"]</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/apis2.589.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/apis2.589.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["RESTful API and microservices"]</h2>
                        <p>@Localizer["Adaptative modular microservices for continuous development"]</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a class="gtco-card-item">
                    <figure>
                        <div class="overlay"></div>
                        <picture>
                            <source srcset="~/images/analyst.720.webp" type="image/webp" asp-append-version="true" />
                            <img src="~/images/analyst.720.jpg" alt="Image" class="img-fluid" asp-append-version="true" />
                        </picture>
                    </figure>
                    <div class="gtco-text">
                        <h2>Data Analytics</h2>
                        <p>@Localizer["Statistical analysis and analytical software development for data processing and visualization"]</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading" data-aos="fade-up">
                <h2>@Localizer["Work ethics"]</h2>
                <p>@Localizer["We adapt to your needs complying to quality of service standards"]</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center" data-aos="fade-left">
                    <span class="icon">
                        <i>1</i>
                    </span>
                    <h3>@Localizer["Project Planning and Evaluation"]</h3>
                    <p>@Localizer["We listen to our clients and adapt to their needs"]</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center" data-aos="fade-left" data-aos-delay="200">
                    <span class="icon">
                        <i>2</i>
                    </span>
                    <h3>@Localizer["Agile Development"]</h3>
                    <p>@Localizer["Individuals and interactions over processes and tools. Working software over comprehensive documentation. Customer collaboration over contract negotiation. Responding to change over following a plan."]</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center" data-aos="fade-left" data-aos-delay="400">
                    <span class="icon">
                        <i>3</i>
                    </span>
                    <h3>@Localizer["Feedback"]</h3>
                    <p>@Localizer["Constant communication with our clients and continuous evaluation, process planning, development and implementation"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/empresa.1350.jpg'); background-image: -webkit-image-set(url('/images/empresa.1350.webp') 1x);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>@Localizer["We create what your company needs to keep growing!"]</h1>
            </div>
        </div>
    </div>
</div>
@{var anos = DateTime.Now.Year - 2015;}
<div id="gtco-counter" class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>@Localizer["Facts"]</h2>
                <p>@anos @Localizer["Years of experience in IT development, public project management, SEO, SEM, database, data analysis"]</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6" data-aos="fade-up">
                <div class="feature-center">
                    <span class="counter js-counter" data-from="0" data-to="@anos" data-refresh-interval="50">1</span>
                    <span class="counter-label">@Localizer["Years of experience"]</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-aos="fade-up">
                <div class="feature-center">
                    <span class="counter js-counter" data-from="0" data-to="12" data-speed="2000" data-refresh-interval="50">1</span>
                    <span class="counter-label">@Localizer["Clients"]</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-aos="fade-up">
                <div class="feature-center">
                    <span class="counter js-counter" data-from="0" data-to="20" data-speed="2000" data-refresh-interval="50">1</span>
                    <span class="counter-label">@Localizer["Projects"]</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" data-aos="fade-up">
                <div class="feature-center">
                    <span class="counter js-counter" data-from="0" data-to="794807175" data-speed="3000" data-refresh-interval="50">794807175</span>
                    <span class="counter-label">@Localizer["Lines of code"]</span>
                </div>
            </div>
        </div>
    </div>
</div>