@{
    ViewData["Title"] = "Epic Solutions";
    ViewData["titulo"] = Localizer["<strong>Partnerships</strong>"].Value;
    ViewData["subtitulo"] = Localizer["Working and management network"].Value;
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div id="capia" class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="http://www.capia.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/capia.min.png" alt="CAPIA UST" class="d-block mx-auto h-75" style="object-fit:scale-down">
                        <h1 class="display-4 align-middle text-center">
                            @Localizer["CAPIA, UST"]
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Centre for Fisheries and Aquaculture Applied Research, UST"]</h2>
                        <p>
                            @Localizer["Research, development and innovation for sustainable fisheries and aquaculture"]
                        </p>
                        <p class="gtco-category"><span>@Localizer["Scientific Research, Development and Innovation"]</span></p>
                    </div>
                </a>
            </div>
            <div id="rodas" class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.rodasingenieria.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/Logo_trasparente.png" alt="Rodas Ingeniería" class="d-block mx-auto h-75" style="object-fit:scale-down">
                        <h1 class="display-4 align-middle text-center">
                            @Localizer["Rodas Enginering"]
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>@Localizer["Rodas Enginering"]</h2>
                        <p>
                            @Localizer["Training, consulting, security and developments"]
                        </p>
                        <p class="gtco-category"><span>@Localizer["Project management, SCRUM"]</span></p>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>