@{
    ViewData["Title"] = Localizer["Epic Solutions"].Value;
    ViewData["titulo"] = Localizer["Solutions <strong>tailored to your needs</strong>"].Value;
    ViewData["subtitulo"] = Localizer["Customized services"].Value;
}

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Search Engine Optimization and Search Engine Marketing"]</h2>

                    <p>@Localizer["Search engine optimization (SEO) a.k.a. Organic Positioning"]</p>
                    <p>
                        @Localizer["Website metadata improvement for better digital presence and organic positioning in all main web search engines"]
                        <br />
                        @Localizer["Digital Marketing Campaigns in"] Facebook, Instagram, YouTube @Localizer["&"] Google AdWords.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Editing and adding content"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Website Indexation"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Evaluation of key search terms"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Social networks"]</li>
                        <li><span><i class="fas fa-check"></i></span>Google Maps</li>
                        <li><span><i class="fas fa-check"></i></span>Google Adwords</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/seo.670.jpg); background-image: -webkit-image-set(url('/images/seo.670.webp') 1x);"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Databases"]</h2>
                    <p>@Localizer["Database design and integration to pre-existing systems"]</p>
                    <p>@Localizer["Database graphical user interphase with data visualization aid"]</p>
                    <p>@Localizer["Update, modification, upgrade and database parsing and pre-processing"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Data Mart</li>
                        <li><span><i class="fas fa-check"></i></span>Data Warehouse</li>
                        <li><span><i class="fas fa-check"></i></span>ETL</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>OLAP @Localizer["&"] OLTP</li>
                        <li><span><i class="fas fa-check"></i></span>DPF @Localizer["&"] MDC</li>
                        <li><span><i class="fas fa-check"></i></span>JSON</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/data.670.jpg); background-image: -webkit-image-set(url('/images/data.670.webp') 1x);"></div>
</div>

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Web Development"]</h2>
                    <p>@Localizer["We develop a website or platform best suited to the task and business goals"]</p>
                    <p>@Localizer["Responsive web design compatible with any device (desktop, laptop, tablet and mobile devices)"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Web applications"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Data and content management"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Web commerce"]</li>
</ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Dynamic websites"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Integrated platforms"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Static websites"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/webdesign.640.jpg); background-image: -webkit-image-set(url('/images/webdesign.640.webp') 1x);"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["API development"]</h2>
                    <p>@Localizer["We create Application Programming Interfaces for your preexisting software"]</p>
                    <p>@Localizer["Software intermediary that allows two applications to talk to each other"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Integration"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Adaptability"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Data exchange"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Stability"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Security"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Integral"]</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/apis2.589.jpg); background-image: -webkit-image-set(url('/images/apis2.589.webp') 1x);"></div>
</div>
<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Platform integration"]</h2>

                    <p>@Localizer["Interface design that allows to unify multiple sources into one platform"]</p>
                    <p>@Localizer["Database integration, unificaton of business guilds and global platforms for different fields"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Multiplatform"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Database integration"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Data processing and data compiling"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Graphical Interfaces"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["External connections"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Information guilds"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url('/images/desk2.min.jpg'); background-image: -webkit-image-set(url('/images/desk2.min.webp') 1x);"></div>
</div>

<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/apis.1350.jpg'); background-image: -webkit-image-set(url('/images/apis.1350.webp') 1x);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>@Localizer["We offer high quality for the services your business needs!"]</h1>
            </div>
        </div>
    </div>
</div>
