@{
    ViewData["Title"] = Localizer["Epic Solutions"].Value;
    ViewData["titulo"] = Localizer["Solutions <strong>tailored to your needs</strong>"].Value;
    ViewData["subtitulo"] = Localizer["Customized services"].Value;
}

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Search Engine Optimization and Search Engine Marketing"]</h2>

                    <p>@Localizer["Search engine optimization (SEO) a.k.a. Organic Positioning"]</p>
                    <p>
                        @Localizer["Website metadata improvement for better digital presence and organic positioning in all main web search engines"]
                        <br />
                        @Localizer["Digital Marketing Campaigns in"] Facebook, Instagram, YouTube @Localizer["&"] Google AdWords.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Editing and adding content"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Website Indexation"]</li>
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Evaluation of key search terms"]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Social networks"]</li>
                        <li><span><i class="fas fa-check"></i></span>Google Maps</li>
                        <li><span><i class="fas fa-check"></i></span>Google Adwords</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/seo.670.jpg)"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Databases"]</h2>
                    <p>@Localizer["Database design and integration to pre-existing systems"]</p>
                    <p>@Localizer["Database graphical user interphase with data visualization aid"]</p>
                    <p>@Localizer["Update, modification, upgrade and database parsing and pre-processing"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Data Mart</li>
                        <li><span><i class="fas fa-check"></i></span>Data Warehouse</li>
                        <li><span><i class="fas fa-check"></i></span>ETL</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>OLAP @Localizer["&"] OLTP</li>
                        <li><span><i class="fas fa-check"></i></span>DPF @Localizer["&"] MDC</li>
                        <li><span><i class="fas fa-check"></i></span>JSON</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/data.670.jpg);"></div>
</div>

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Web Development"]</h2>
                    <p>@Localizer["We develop a website or platform best suited to the task and business goals"]</p>
                    <p>@Localizer["Responsive web design compatible with any device (desktop, laptop, tablet and mobile devices)"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>@Localizer["Web applications"]</li>
                        <li><span><i class="fas fa-check"></i></span>Gestor de contenido y datos</li>
                        <li><span><i class="fas fa-check"></i></span>Comercio electrónico</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Web dinámica</li>
                        <li><span><i class="fas fa-check"></i></span>Plataformas integradas</li>
                        <li><span><i class="fas fa-check"></i></span>Web<br /> estática</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/webdesign.640.jpg);"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>Desarrollo de API´s</h2>
                    <p>Reutilizamos el software de tu empresa, creando intefaces de programación de aplicaciones (API´s)  </p>
                    <p>Intermediarios de software con metodos de comunicación definidos que permiten conectar dos aplicaciones entre sí.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Integración</li>
                        <li><span><i class="fas fa-check"></i></span>Adaptabilidad</li>
                        <li><span><i class="fas fa-check"></i></span>Intercambio de datos</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Estabilidad</li>
                        <li><span><i class="fas fa-check"></i></span>Seguridad</li>
                        <li><span><i class="fas fa-check"></i></span>Integridad</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/apis2.589.jpg);"></div>
</div>
<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text text-over">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>@Localizer["Platform integration"]</h2>

                    <p>Diseñamos interfaces que permitan compilar varias fuentes de información en una sola plataforma.</p>
                    <p>Integración de bases de datos, plataformas del mismo rubro comercial e informativo, unión de gremios empresariales.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Multiplataformas</li>
                        <li><span><i class="fas fa-check"></i></span>Integración de Bases de datos</li>
                        <li><span><i class="fas fa-check"></i></span>Compilación y procesamiento de datos</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span><i class="fas fa-check"></i></span>Interfaces gráficas</li>
                        <li><span><i class="fas fa-check"></i></span>Conexión y enlaces externos</li>
                        <li><span><i class="fas fa-check"></i></span>Gremios <br /> informativos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url('/images/desk2.min.jpg');"></div>
</div>

<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/apis.1350.jpg')" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>¡Te ofrecemos una alta calidad en los servicios que necesita tu empresa!</h1>
            </div>
        </div>
    </div>
</div>


